@charset "UTF-8";

/* --- MEDIA QUERIES --- */
@media (max-width: 900px) {
    .hero-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .produtos-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .valor-grid,
    .depo-grid,
    .footer-grid {
        grid-template-columns: 1fr;
    }

    .menu {
        display: none;
        flex-direction: column;
        background: #f8e9d9;
        padding: 20px;
        position: absolute;
        top: 70px;
        right: 15px;
        width: 200px;
        border-radius: 10px;
    }

    .menu a {
        padding: 10px 0;
        display: block;
    }

    .hamburger {
        display: block;
    }
}

